@font-face {
    font-family: "Cascadia Mono2";
    src: url("/style/Cascadia.woff") format("woff2"),
        url("/style/Cascadia.woff") format("woff");
    /* Add other font formats here if needed */
}
@mixin BigHeadline {
    font-family: 'Cascadia Mono2';
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 6.5625rem */
    letter-spacing: 0.4375rem;
}

@mixin SemiBigHeadline {
    font-family: 'Cascadia Mono2';
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 4.21875rem */
    letter-spacing: 0.05625rem;
}

@mixin Headline {
    /* Headline */
    font-family: 'Cascadia Mono2';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 3.75rem */
    letter-spacing: 0.05rem;
}

@mixin SubHealine {
    font-family: 'Cascadia Mono2';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.875rem */
    letter-spacing: 0.025rem;
}

@mixin Content {
    font-family: 'Cascadia Mono2';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.8125rem */
}
@mixin SubContent {
    font-family: 'Cascadia Mono2';
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.96875rem */
    letter-spacing: 0.06563rem;
}